.banner {
  align-content: center;
  display: none;
  justify-content: center;
  width: 100%;
}

body{
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}
.dialog-container{
    margin: 2rem;
}
.btn{
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}
.dialog-model{
    padding: 0;
    width: 478px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border: 0;
    opacity: 0;
    transform: scale(0.7);
    transition: transform 0.25s, opacity 0.2s, -webkit-transform 0.25s;
}
.dialog-model.dialog-active {
    opacity: 1;
    transform: scale(1);
}

.dialog-model + .backdrop {
    background-color: rgba(0, 0, 0, 0.1);
}

.dialog-header {
    position: relative;
    margin: 0;
    padding: 39px 16px 26px;
    font-size: 27px;
    font-weight: 600;
    text-transform: none;
    line-height: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}

.dialog-body {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 10px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    vertical-align: top;
    text-align: center;
    color: rgba(0, 0, 0, 0.64);
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.dialog-body p {
    margin: 0;
    padding: 10px;
}

.dialog-footer {
    padding: 26px 16px 13px;
    text-align: right;
    border-radius: inherit;
    border-top: 1px solid rgb(233, 238, 241);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(245, 248, 250);
    overflow: hidden;
}

.close-dialog-btn {
    padding: 10px 24px;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #7cd1f9;
    cursor: pointer;
    outline: none;
}

.close-dialog-btn:active {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(43, 114, 165, 0.29);
    background-color: #70bce0;
}